<head>
  <title>RadSpots</title>

  <!-- mapbox -->

  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css" rel="stylesheet" />

<!-- bulma stylesheets -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">

  <!-- main css -->
  <link rel="stylesheet" href="../css/global.css" type="text/css">
  <link rel = "stylesheet" type = "text/css" href = "../css/loginstylesheets.css"/>



</head>
