<nav class="navbar is-fixed-top is-primary is-bold">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="../images/Logomakr_8PU9SO.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/users/signup">
        Sign Up
      </a>
      <a class="navbar-item" href="login">
        Login
      </a>
    </div>
  </div>
</nav>
