<!DOCTYPE html>
<html>

<% include partials/header %>
<body>
<% include partials/loggedout-nav %>



  <section class="hero login-width box">
<div class="hero-body bgwhite">


    <form class="" action="/users/login" method="post">

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
        <input class="input" type="email" id="email" name="email" multiple/>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
        <input class="input" type="password" id="password" name="password"/>
        </div>
      </div>

<div class="control">
  <button class="button is-primary is-outlined is-focus" type="submit">Login</button>
</div>

    </form>
  </div>


</section>

<% include partials/footer %>
</body>
</html>
