html {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url('https://s3-us-west-1.amazonaws.com/radspotsmedia/sO-67NimQbbq5E4HZQuEVPTmJ2F36b0NAYtGh30Tevk.jpg');
  background-attachment: fixed;
 background-position: center;
 background-repeat: repeat;
 background-size: cover;
}

html::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  background-attachment: fixed;
   background-position: center;
   background-repeat: repeat;
   background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: sticky;
  z-index: -1;
  display: block;
}
.navbar-item {
  font-family: 'Sarala', sans-serif;
}
