html {
  background-image: url('https://s3-us-west-1.amazonaws.com/radspotsmedia/sO-67NimQbbq5E4HZQuEVPTmJ2F36b0NAYtGh30Tevk.jpg');
   background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
